.topic-info-sub-style {
    margin-top: 5px;
    border: 1px solid rgb(59, 59, 59);
    padding: 15px;
    overflow: auto;
    margin: auto;
    box-shadow: 1px 1px 3px black;
    /* width: 100%; */
    /* max-height: 100%; */
}

/* article {
    border: 2px solid red;
} */