* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: raleway;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.3rem;
}

/* li {
    list-style: none;
} */

a {
    text-decoration: none;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(189, 78, 4);
    border-width: 8px;
    width: 5%;
    margin: 15px auto;
}

/* header starts from here */

header {
    /* background-color: rgb(241, 184, 145); */
    background-color: rgb(19, 16, 29);
}

header nav h2 {
    color: white;
}

nav {
    height: 100px;
    width: 80%;
    margin: auto;
}

.container h2 {
    float: left;
    line-height: 100px;
    cursor: pointer;
    transition: all 0.5s;
}

.container h2:hover {
    transform: translateY(-5px);
}

.container ul {
    float: right;
    line-height: 100px;
}
.container ul li {
    display: inline-block;
    margin: 0 25px;
}

nav ul li a {
    font-size: 18px;
    color: grey;
    transition: all .3s;
}


nav ul li a:hover {
    color: orange;
}

.active {
    background-color: orange;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}
.active:hover {
    color: grey;
}
/* main section starts from here */
.main {
    height: calc(100vh - 100px);
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("image/bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 5px solid rgb(189, 78, 4);
}

.main .main-container {
    width: 100%;
    margin: auto;
}


.main-container h2 {
    text-align: center;
    color: white;
    display: inline-block;
    letter-spacing: 1.5px;
    /* border: 2px solid green; */
}

.main-container p {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    margin: 30px auto;    
    letter-spacing: 1.5px;

}

/* .show-container {
    transform: translateY(25vh);
} */

.content {
    display: flex;
    flex-direction: column;
    transform: translateY(30vh);
    position: absolute;
    margin-left: auto 800px;
    padding: 0 300px;
}

.btn {
    display: inline-block;
    width: 100px;
    margin: 20px auto;
}
.btn a {
    border: 1px solid white;
    padding: 8px 20px;
    color: white;
    font-size: 20px;
    transition: .5s all;
}
.btn a:hover {
    background-color: rgb(187, 122, 2);
    color: white;
    border: 1px solid rgb(187, 122, 2);
    font-size: 20px;
}

/* Subject section starts from here */
.sub-title {
    text-align: center;
    margin: 50px 0 0 0;
}

.sub-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    float: left;
}

.sub-container a {
    color: rgb(59, 58, 58);
    transition: all 0.5s;
}

.sub-container a:hover {
    transform: translateY(-15px);
}

.sub-box {
    display: inline-block;
    margin: 50px 15px;
    border-right: 2px solid rgb(250, 114, 3);
    border-bottom: 2px solid rgb(196, 92, 6);
    box-shadow: 10px 10px 10px rgb(53, 52, 52);
    /* border: 2px solid grey; */
    text-align: center;
    width: 300px;
}


.sub-box img {
    width: 300px;
    height: 200px;
}

.sub-box h3 {
    letter-spacing: 2px;
    font-size: 18px;
    margin: 5px auto;
    text-transform: uppercase;
}

.sub-box p {
    margin: 10px auto;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
}

/* Footer starts from here */
footer {
    margin-top: 70vh;
    display: flex;
    height: 25vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 19, 36);
}

.f-left-content #feedback {
    display: inline-block;
    width: 200px;
    height: 42px;
    margin-left: 15px;
    /* background-color: rgb(151, 150, 150); */
    color: black;
    font-size: 18px;
}

.f-left-content {
    padding: 10px auto;
    margin-top: 25px;
    height: 100px;
}

#feedback-btn {
    border: 1px solid orangered;
    margin: 2px 0px 0px -5px;
    padding: 7px 20px;
    /* border-radius: 5px; */
    background-color: rgb(187, 122, 2);
    color: white;
    font-size: 20px;
    transition: .5s all;
}
#feedback-btn:hover {
    border: 1px solid rgb(187, 122, 2);
    font-size: 20px;
}

#related-links {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 15px 10px;
}

.f-mid-content {
    color: white;
    text-align: center;
}

.f-right-content {
    margin-right: 20px;
}

.social-icon-title {
    /* margin-bottom: 5px; */
    color: white;
    font-size: 1.2rem;
    /* text-align: center; */
}

.social-icons {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.social-icons a{
    /* padding-right: 2px;  */
    color: white;
    /* margin-bottom: 25px; */
}

.fab {
    color: white;
    font-size: 20px;
    padding: 0 8px;
    text-shadow: 1px 1px 5px rgb(200, 11, 43);
    transition: all .3s;
}

.fab:hover {
    color: rgb(185, 25, 52);
    transform: translateY(-5px);
}
